@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 169px;
    --card-width: 500px;
  }
  
  .type{
    position: absolute;
    top:0;
    left:0;
    padding-left: 3%;
    padding-top:3%;
    font-size: .75em;
  }

  .duration{
    position: absolute;
    top:0;
    right:0;
    padding-right: 3%;
    padding-top: 3%;
    font-size: .6em;
  }

  .company{
    position: absolute;
    top:20%;
    left:0;
    padding-left: 3%;
    padding-top:6%;
    font-size: .75em;
  }
  .title{
    position: absolute;
    top:40%;
    left:0;
    padding-left: 3%;
    padding-top:6%;
    font-size: .55em;
  }

  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: rgba(255, 255, 255, 1);
    
    
  }
  
  